# modified from the original c64.cfg
# this config doesn't contain the basic line at the beginning because we already booted up the game with the loader

FEATURES {
    STARTADDRESS: default = $0801; # in theory i could set this to $0800,,,,,,much to consider,,,,,
}
SYMBOLS {
    __LOADADDR__:  type = import;
    __HIMEM__:     type = weak, value = $D000;
}
MEMORY {
    ZP:       file = "", define = yes, start = $0002,           size = $008D;
    LOADADDR: file = %O,               start = %S - 2,          size = $0002; # the two bytes at the beginning are necessary if we're doing LOAD
    MAIN:     file = %O, define = yes, start = %S,              size = __HIMEM__ - %S;
    BSS:      file = "",               start = __RODATA_RUN__ + __RODATA_SIZE__,
                                        size = __HIMEM__ - (__RODATA_RUN__ + __RODATA_SIZE__);
}
SEGMENTS {
    ZEROPAGE: load = ZP,       type = zp;
    LOADADDR: load = LOADADDR, type = ro;
    STARTUP:  load = MAIN,     type = ro;
    CODE:     load = MAIN,     type = ro;
    DATA:     load = MAIN,     type = rw,  optional = yes;
    RODATA:   load = MAIN,     type = ro,  define   = yes;
    BSS:      load = BSS,      type = bss, define   = yes;
}
